header{
    margin-top: 100px;
    position: sticky;
    top: 0;
    width: 100%;
    background: #000;
    display: flex;
    padding-bottom: 3px;
    z-index: 1000000;
}

.imgButton{
    width: 50px;
    margin-bottom: 5px;
}

nav{
    margin-top: 40px;
    margin-left: 25%;
    /*margin-right: 130px;*/
}

body{
    background-color: black;

}

.topnav a{
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;
}

.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}

.topnav .icon{
    display: none;
}

#welcome{
    background-color: black;
    color: white;
}
h1, h3{
    text-align: center;
    color: #fcac45;
}

#welcomeText{
    text-align: center;
}

#mainPhotoParalax{
    display: none;
}

.main__team{
    background: #000;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #fff;
}
.main__team h1{
    margin-top: -30px;
    font-size: 44px;
    padding-bottom: 20px;
}

.photo{
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}

.team__cards{

    margin-top: 50px;
    display: flex;
}

.card{
    margin: 0 auto;
}

.main__services .card{
    margin: 0 24px;
}

.name{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 7px;
}

.position{
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 35px;
}

.about__position{
    font-size: 14px;
}

.main__services{
    background: #fff;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #222222;
}




#rightFirstButton{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

#rightDownMenu{
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main .main__about{
    display: flex;
    padding: 100px 0 100px 0;
    color: white;
}
.about__right{
    margin-left: 200px;
}

.about__right h1{
    font-weight: normal;
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
    margin-top: 30px;
}
.about__right p{
    margin: 30px 0 50px 0;
    color: white;
}
.about__right li{
    color: #5a5a5a;
    padding-left: 25px;
    margin-top: 10px;
}
.mw-100{
    width: 600px;
    margin-top: 25%;

}

#displayInfoAboutCar{
    margin-left: 200px;
    display: none;
}



@media screen and (max-width: 1280px) {
    #text{
    font-size: 500% !important;
    }

    #welcomeText{
        text-align: center;
    }

    nav{
        margin-left: 10%;
    }


    .topnav a {
        display: none;
    }

    .topnav a.icon {
        margin-bottom: 30px;
        margin-top: -30px;
        margin-right: 120px;
        float: right;
        display: flex;
        color: #fff;
        font-size: 25px;
    }

    nav {
        width: 100%;
    }

    .topnav.responsive {
        position: relative;
        top: 110px;
        left: -150px;
        margin-bottom: 60px;
    }

    header .topnav.responsive {
        height: 340px;
        margin-top: -20px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: -5px;
        right: -150px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-left: 100px;
    }


    .team__cards{
        flex-direction: column;
    }

    .main__about{
        flex-direction:  column;
        width: 100%;
        margin-left: -150px;
    }
    .about__right{
        text-align:  center;
    }
    .about__right li{
        text-align: left;
    }
    .mw-100{
        margin-top: 0;
        margin-left: 25%;
        max-width: 100%;
    }
    #displayInfoAboutCar{
        margin-left: 20px;
    }

}

.topMenu{
    top: 0;
}

.gridMenu{
    display: grid;
}

#colours{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}





button {
    box-shadow: 0 1px 0 0 #1c1b18;
    background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color:#eae0c2;
    border-radius:15px;
    border:2px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:#505739;
    font-size:14px;
    font-weight:bold;
    padding:12px 16px;
    text-decoration: none;
    text-shadow:0 1px 0 #ffffff;
}

button:hover {
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color:#ccc2a6;
}

button:active {
    position:relative;
    top:1px;
}

input{
    border: 3px ridge powderblue;
    outline:0;
    height:25px;
    width: 275px;
}

@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
h2 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    color: #222222;
    text-align: center;
}
.post-detail, .post {
    font-family: 'Arimo', sans-serif;
}
.post-detail {
    width: 30%;
    margin: 0 auto 10px;
    text-align: center;
}
.post-info {
    color: #be9656;
    font-style: italic;
    position: relative;
    display: block;
    font-size: 13px;
}
.post-info:before {
    content: "";
    border-bottom: 1px solid #be9656;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
}
.post-info span {
    display: inline-block;
    padding: 0 1.2em;
    background: #ffffff;
    position: relative;
    z-index: 2;
}
p {
    color: white;
    font-size: 20px;
    line-height: 1.7;
}

.colors{
    margin-top:10px;
    width: 30px;
    height: 30px;
    border: 4px inset powderblue
}

 .topLine{
     background: black;
     color: white;
     position: fixed;
     top: 0; left: 0;
     width: 100%;
     transition: all .3s ease;
 }

 .topLine.out{
     transform: translateY(-100%);
 }

 #topMenuOne{
     margin-top: -50px;
     margin-bottom: 30px;
 }




